/*.pref-section-container {
    
}

.pref-header { 
  
     }

.pref-title-area h2 { 
   
}
.pref-title-area p {
    ; 
    }

.pref-search-bar input {
  
}
.movie-grid {
   
}
.movie-card { 
  
 }
.poster-wrapper { 

    }
.poster-wrapper img {
   }

.hover-overlay {
    
}

.stars { 
    
 }
.star { 
   }
.star.filled { 
   
}

.movie-info { 

 }
.movie-info .title { 

 }
.movie-info .year { 

}

.pref-floating-bar {
   
}

.pref-submit-btn {
    
}

.pref-submit-btn.active {

 }