.main-page-wrapper {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
    background-color: var(--bg-light);
    color: var(--color-text-dark);
}

.main-page-wrapper.dark-mode {
    background-color: var(--bg-dark-main);
    color: var(--color-text-dark-mode);
}

.main-content-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
}

.left-section {
    flex: 0 0 840px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.right-section {
    flex: 0 0 426px;
    position: sticky;
    top: 100px;
}