@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.footer-section {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-logo {
    position: relative; 
    text-align: center;
    font-size: 30px;
    font-family: 'Kaisei Decol', serif; 
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px; 
}

.footer-message {
    color: #999;
    font-size: 12px;
    font-family: 'Pretendard', sans-serif;
}

.otte-dot {
    position: absolute; 
    top: 6px;
    left: -10px;
    width: 3px;   
    height: 3px;
    background-color: red;
    border-radius: 50%;
}

.line {
    width: 80%;          
    max-width: 800px;
    border-bottom: 1px solid #dcdcdc; 
    margin-bottom: 15px;   
}