@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.intro-section {
    text-align: center;
    user-select: none;    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh; 
    box-sizing: border-box;

    min-height: 100vh;
    width: 100%;

    background-image: url('../assets/landing-background.svg'); 
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.intro-Eng {
    
    margin: 0;
    color: #0066FF;
    font-family: 'Archivo Black', sans-serif;
    font-size: 65px;
    letter-spacing: -1px;
}

.intro-Kor {
    margin-top: 25px; 
    margin-bottom: 50px; 
    font-family: 'Pretendard', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222; 
}
