/*step 0: 랜딩페이지*/
@import url('https://fonts.google.com');
@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2');


.intro-section{
 text-align: center;
 /*드래그 방지 -> 나중에 합치고 더 상위에 적용*/
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.intro-Eng{
color: #0066FF;
 font-family: 'Archivo Black',sans-serif;

}
.intro-Kor{
    margin-top: 30px;
    font-family: 'Pretendard';
    font-weight: 100;

}
