/*step 0: 랜딩페이지*/

.LoginBtnimg{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
  background-color: #FFFFFF;
  border: 1px solid #DADCE0;
  border-radius: 4px;
  cursor: pointer;

}