/*step 0: 랜딩페이지*/
@import url('https://fonts.google.com');

.intro-section{
display: flex;
}
.intro-Eng{
display: flex;
color: #0066FF;
 font-family: 'Archivo Black',sans-serif;

}
.intro-Kor{
 display: flex;


}