.poster-wrapper {
  position: relative;
}
.content-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 100%;
}
.content-card:hover {
    transform: translateY(-5px);
}
.poster-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    border-radius: 12px;
    overflow: hidden;
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.poster-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.content-card:hover .poster-wrapper img {
    transform: scale(1.05);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-overlay span {
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 20px;
}

.content-card:hover .card-overlay {
    opacity: 1;
}

.card-info-area {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info-row-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 15px;
    font-weight: 600;
    color: var(--color-text-main);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}

.info-row-bottom {
    display: flex;
}

.card-year {
    font-size: 12px;
    color: #9E9E9E;
    font-weight: 400;
}
.rating-overlay {
  position: absolute;
  bottom: 42%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.4) 50%, transparent 100%);
  display: flex;
  align-items: flex-end; 
  justify-content: center;
  padding-bottom: 20px; 
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.content-card:hover .rating-overlay {
    opacity: 1;
}

.star-container {
  display: inline-flex;
  align-items: center;
  gap: 2px; 
  cursor: pointer;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 32px;
  line-height: 1;
  user-select: none;
}


.star-fill {
  color: #FFD158;
}

.star-half {
 background: linear-gradient(to right, #FFD158 50%, #E6E8EA 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.star-empty {
  color: #E6E8EA; 
}
.half {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  z-index: 2; 
}
.half.left {
  left: 0;
}

.half.right {
  right: 0;
}