.user-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0px 0 60px 0;
    width: 100%;
}

.user-grid-empty {
    text-align: center;
    padding: 60px;
    color: #666;
    font-size: 16px;
    font-weight: 500;
}