.user-grid {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* 카드와 카드 사이 간격 */
}

/* 만약 데이터가 없을 때 메시지 */
.no-data-msg {
    text-align: center;
    padding: 40px;
    color: #999;
}